<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FISI DATA</title>
</head>

<body>
    <h1>Welcome to Get Fisi Data Service</h1>
    <h2>Service Get Data From FISI Students</h2>
    <p>
        Este servicio extrae los datos de un excel público y los retorna bajo el protocolo REST.
    </p>
    <p>
        La data proviene del siguiente excel del 2022:
    </p>

    <a href="https://celectoral1.unmsm.edu.pe/padron2022/pdfs/20-SISTEMAS.PDF">
        click par acceder
    </a>

    <p>
        Proyecto únicamente con fines académicos
    </p>
</body>

</html>